/* This is a comment */

.navbar {
    background-color: salmon;
    display: none;
}

h1 {
    text-decoration: green wavy underline;
    text-align: center;
}

span {
    color: color(from green srgb r g b / 0.5);
}

#attendance {
    display: block;
}

#randomID {
    --var-color: orange;
    color: var(--var-color, blue);
}