/* This is a comment */

.navbar {
    display: none;
}

img {
    height: 200px;
    width: 5in;
    min-width: 0.1cm;
    position: absolute;
}

img:hover {
    max-width: 2cm;
    width: 10%;
}

img:active {
    max-width: 1000em;
    width: 500rem; 
    height: 20in;
}

h1 {
    text-decoration: green wavy underline;
    text-align: center;
    background-color: salmon;
    position: relative;
}

.flexcontainer {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    column-gap: 100px;
    justify-items: stretch;
    justify-content: center;
}

span {
    color: color(from green srgb r g b / 0.5);
}

#attendance {
    display: block;
}

#randomID {
    --var-color: orange;
    color: var(--var-color, blue);
}